* {
    font-family: "Roboto", sans-serif;;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-self: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 90vh;
}

#side-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;

    height: 50%;
    width: 75%;
    background-color: rgb(0, 174, 255);
    border-radius: 5px;
}

.cell {
    border: solid 1px white;
    background-color: rgb(207, 160, 30);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(62, 132, 211);
    color: white;
    border: none;
    box-shadow: 2px 2px 2px grey;
    margin-top: 20px;
}

#start:active {
    box-shadow: none;
}

#result {
    width: 250px;
    height: 80px;
    background-color: rgb(214, 201, 11);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 20px;
}

input {
    width: 100px;
    height: 26px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 2px;
    margin-left: 5px
}

input:focus {
    outline: none;
}

#player-names {
    font-size: 20px;
    color: white;
}